$headergreen:#243E36; /*VARIABLES*/
$setff:Arial, Helvetica, sans-serif;
$dgreyright:rgb(182, 182, 182);
$lgreyleft:rgb(216, 216, 216);
$dfpadding: 30px;

@mixin topbackgroundLR { /*MIXIN*/
    font-family:$setff;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}

.roundedimg {
    border-radius: 50%;
  }

.topbackground {
    padding: $dfpadding;
    background-color:$headergreen;
    height: 20%;
    display:flex;
    align-items:center;
}

.topbackground-left {  /*INCLUDE*/
    @include topbackgroundLR()
}

.topbackground-right {  /*INCLUDE*/
    @include topbackgroundLR()
}

.mainbody {
    display:flex;
}

.bodyleftside {
    @extend .mainbody;  /*EXTEND*/
    font-family: setff; 
    width: 50%;
    flex-direction:column;
    background-color:$lgreyleft;
    padding:$dfpadding;
}

.bodyrightside {
    font-family:$setff;
    width: 50%;
    display:flex;
    flex-direction:column;
    padding:$dfpadding;
    background-color:$dgreyright;
}